version: '3.9'

services:
  swe-database:
    image: mongo
    container_name: swe-database
    ports:
      - '27019:27017'
    volumes:
      - swe_mongo_data:/data/db

  swe-backend:
    build:
      context: ./backend
    container_name: swe-backend
    environment:
      PORT: 5001
      DATABASE_URL: mongodb://swe-database:27017/blog-next
      ACCESS_TOKEN_SECRET: 4553156c044c1c2c23ecbdf6dababb55f918713fe37eb470f69fadc6950780cc2c11cbe91fea4b2d877f26a64d41f1d99ec7aa0d41c3af14eaec39c42389b4695b4da49c492320ed1fad5047447c7dea0bba28d7b54ed12fec61cb5e2f92f2a2151ec69c121b6c5411d15e55fb76ba2c5251d678572fcef3b1d7d832b327dc
      REFRESH_TOKEN_SECRET: c9d3757d8b697d873cc17b89f7e7eaa41c936df783bdcb2943906518fb8d254916ee1e77fe39ba98d65620cbc496726b36b349232c5a0691c6ac61b032884d80e5c591ec4048a970e9109a658bf92b3f4389f5ae8524f74441762575abd06dd252e282330e15bc527216cc45caa24c8e4d20aec40ce0beb5096a791461c670
      CORS_ORIGIN: http://localhost:3001
      CLOUDINARY_NAME: dafnvlv1s
      CLOUDINARY_KEY: 894579747943366
      CLOUDINARY_SECRET: 9paXYrDQgBxHQ13Va_X1ibHxZDI
    ports:
      - '5001:5001'
    depends_on:
      - swe-database

  swe-frontend:
    build:
      context: .
      args:
        VITE_API_BASE_URL: http://localhost:5001/api
    container_name: swe-frontend
    ports:
      - '3001:80'
    depends_on:
      - swe-backend

volumes:
  swe_mongo_data:
